body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1vh 4vw;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  gap: 6px;
  margin: 12px 0;
}

.cell {
  width: 100px;
  aspect-ratio: 1 / 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 36px;
  border: 1px solid #ccc;
  cursor: pointer;
}

.player1, .player2 {
  font-size: calc(16px + 0.1vw);
}

.player2 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
